# Compiled and build artifacts
*.pyc
__pycache__/
*.o
*.obj
dist/
build/
*.so
*.dll
*.exe
*.class
*.out
*.a

# Python virtual environment
.venv/
.env


# Exclude the entire System Prompt folder
System Prompt/
codingInstruction/
database/
templates-input/
ISL-FILE-MANAGEMENT.md
ISL-settings.md
